real_kg_construction/output/real_acve_situations_kg.ttl
real_images_acve_kg.ttl
real_images_kg.ttl
real_situations_kgttl
real_acve_situations_kg_updated.ttl
real_images_acve_kg_updated.ttl
real_images_kg_updated.ttl
real_situations_kg_updated.ttl
merged_knowledge_graph.ttl